@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:opsz,wght@8..60,600&display=swap");

//FONT-FAMILY
$font-title: "Source Serif 4", serif;

// COLORS OF THE APP
$light-main: rgb(153, 204, 172);
$dark-main: rgb(115, 125, 98);
$darkest-main: rgb(56, 52, 46);
$accent: rgb(242, 148, 138);
$white: rgb(255, 239, 217);

.landscape__wrapper {
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: $font-title;
  color: $darkest-main;
  height: 100vh;
}
.landscape__portraitMode {
  margin: 2vh;
  width: 40vw;
  opacity: 70%;
  border-radius: 25px;
}

.landscape__sign {
  color: $darkest-main;
  font-size: 8vh;
}
.landscape__portraitMode--explanation {
  font-size: 5vw;
}
