@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:opsz,wght@8..60,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap");

$font-app-name: "Saira Stencil One", sans-serif;
$font-title: "Source Serif 4", serif;
$font-text: "Source Sans 3", sans-serif;

$light-main: rgb(153, 204, 172);
$dark-main: rgb(115, 125, 98);
$darkest-main: rgb(56, 52, 46);
$accent: rgba(242, 148, 138, 0.864);
$white: rgb(255, 239, 217);

.logo-app {
  width: 20vw;
}

.box__description {
  padding-block: 4vh;
  padding-inline: 3vw;
  overflow: scroll;
  scrollbar-width: none;
  border-color: $darkest-main;
  border-style: double;
  color: $darkest-main;
  font-family: $font-text;
  margin: 1.4vw;
  margin-top: clamp(2.4rem, 6.6vh, 3.1rem);
  background-color: $accent;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 40ch;
  font-size: clamp(13px, 2.1vw, 1.1rem);
  border-radius: 30px;
  box-shadow: -8px 5px 5px 0px rgba(56, 52, 46, 0.8);
  -webkit-box-shadow: -8px 5px 5px 0px rgba(56, 52, 46, 0.8);
  -moz-box-shadow: -8px 5px 5px 0px rgba(56, 52, 46, 0.8);
}
.box__description::-webkit-scrollbar {
  display: none;
}

.title__description {
  font-family: $font-title;
  color: $darkest-main;
  margin: 3vh;
}
