.card {
  background-color: #fff1dd;
  width: 20vw;
  height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1vw;
  border-radius: 15px;
}
.card__picture {
  background-color: aqua;
  width: 160px;
  height: 160px;
  border-radius: 10px;
}
.card__artist {
  background-color: aquamarine;
  color: brown;
  width: 160px;
  height: 160px;
  border-radius: 10px;
}
