$light-main: rgb(153, 204, 172);
$dark-main: #4f654e;
$darkest-main: rgb(56, 52, 46);
$accent: #ffd353;
$white: #a4a1a0;

body {
  background-image: url("src/assets/wall-3.jpg");
  background-position: top right;
  background-size: contain;
  margin: 0;
  padding: 0;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 2vh;
  column-gap: 2vw;
  height: 55vh;
}

.catalog {
  scrollbar-color: white $accent;
  scrollbar-width: thin;
}

@media screen and (max-height: 400px) {
  .carrousel {
    display: none;
  }

  .cards {
    height: 80vh;
    padding-top: 20vh;
    scrollbar-color: white $accent;
    scrollbar-width: thin;
  }
}
