body {
  margin: 0;
  padding: 0;
}
h2 {
  color: red;
}
h3 {
  color: yellow;
}
.catalog {
  background-image: url("src/assets/bg main.jpg");
  background-position: top right;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
