* {
  margin: 0;
  padding: 0;
}

.Navbar {
  position: absolute;
  width: 100%;
  z-index: 2;
}

.Navbar_thebuton {
  height: 4rem;
  background: linear-gradient(11deg, #ffeed9 1%, #99ccac 17%);
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  opacity: 50%;
}

.Navbar_buton {
  border: none;
  background: none;
  text-shadow: 4px 2px 6px #ffeed9;
  font-size: large;
  display: flex;
  align-items: center;
}

.Navbar_title {
  text-shadow: 4px 2px 6px #ffeed9;
}

h1 {
  opacity: 100%;
}
