$light-main: rgb(153, 204, 172);
$dark-main: #4f654e;
$darkest-main: rgb(56, 52, 46);
$accent: #ffd353;
$white: #cbcbcb;
$outline:
  0 0 2px $white,
  0 0 2px $white,
  0 0 2px $white,
  0 0 2px $white,
  0 0 2px $white,
  0 0 2px $white,
  0 0 2px $white,
  0 0 2px $white,
  0 0 2px $white,
  0 0 2px $white,
  0 0 2px $white,
  0 0 2px $white,
  0 0 2px $white,
  0 0 2px $white,
  0 0 2px $white,
  0 0 2px $white;

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.navbar {
  position: absolute;
  width: 100%;
  z-index: 2;
}

.navbar__ul {
  background: white;
  background-image: url("/src/assets/111386198-ripped-poster-background-grunge-texture-of-torn-advertisement-on-billboard-sheet-metal.png");
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
}

.navbar__img {
  width: 100%;
}

.navbar__button {
  border: none;
  background: none;
  margin-inline: 1vw;
  color: $darkest-main;
  text-shadow: $outline;
  font-size: large;
  display: flex;
  align-items: center;
}

.navbar__title {
  text-shadow: $outline;
}

.navbar__title h1 {
  font-size: clamp(1.8rem, 6vh, 2.5rem);
  color: $darkest-main;
}
