$light-main: rgb(153, 204, 172);
$dark-main: rgb(115, 125, 98);
$darkest-main: rgb(56, 52, 46);
$accent: rgb(242, 148, 138);
$white: rgb(255, 239, 217);
$outline:
  0 0 2px $white,
  0 0 2px $white,
  0 0 2px $white,
  0 0 2px $white,
  0 0 2px $white,
  0 0 2px $white,
  0 0 2px $white,
  0 0 2px $white,
  0 0 2px $white,
  0 0 2px $white,
  0 0 2px $white,
  0 0 2px $white,
  0 0 2px $white,
  0 0 2px $white,
  0 0 2px $white,
  0 0 2px $white;

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.navbar {
  position: absolute;
  width: 100%;
  z-index: 2;
}

.navbar__ul {
  background: radial-gradient(
    circle,
    rgba($light-main, 0.877264284620098) 15%,
    rgba($darkest-main, 0) 100%
  );
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
}

.navbar__button {
  border: none;
  background: none;
  margin-inline: 1vw;
  color: $darkest-main;
  text-shadow: $outline;
  font-size: large;
  display: flex;
  align-items: center;
}

.navbar__title {
  text-shadow: $outline;
}

.navbar__title h1 {
  font-size: clamp(1.8rem, 6vh, 2.5rem);
  color: $darkest-main;
}
