$light-main: rgb(153, 204, 172);
$dark-main: #4f654e;
$darkest-main: rgb(56, 52, 46);
$accent: #ffd353;
$white: #cbcbcb;
$outline:
  2px 0px 0px $darkest-main,
  -2px 0px 0px $dark-main,
  0px 2px 0px $darkest-main,
  0px -2px 0px $dark-main;

@font-face {
  font-family: "amsterdamG";
  src: url("../../fonts/AmsterdamGraffiti.eot");
  src:
    url("../../fonts/AmsterdamGraffiti.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/AmsterdamGraffiti.woff2") format("woff2"),
    url("../../fonts/AmsterdamGraffiti.woff") format("woff"),
    url("../../fonts/AmsterdamGraffiti.ttf") format("truetype"),
    url("../../fonts/AmsterdamGraffiti.svg#AmsterdamGraffiti") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.navbar {
  position: absolute;
  width: 100%;
  z-index: 2;
}

.navbar__ul {
  background: white;
  background-image: url("/src/assets/posters.png");
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
}

.navbar__img {
  width: 100%;
}

.navbar__button {
  border: none;
  background: none;
  margin-inline: 1vw;
  color: $darkest-main;
  text-shadow: $outline;
  font-size: large;
  display: flex;
  align-items: center;
}

.navbar__ul {
  .navbar__button {
    a {
      color: $accent;
      text-decoration: none;
      font-size: 1.5rem;
      font-family: "blowBrush";
    }
  }
}

.navbar__title h1 {
  padding-top: 1vh;
  font-size: clamp(1.8rem, 6vh, 1.9rem);
  color: $accent;
  text-shadow: $outline;
  font-family: "blowBrush";
}
