$light-main: rgb(153, 204, 172);
$dark-main: rgb(115, 125, 98);
$darkest-main: rgb(56, 52, 46);
$accent: rgb(242, 148, 138);
$dropdownBG: #ffefd9;

.iconContainer {
  background-color: $light-main;
  height: 100%;
  width: 3vw;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 0 8px 0 0;
}
.dropdownMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin: 8vh 0 0 0;
}
.dropdownMenu::-webkit-scrollbar {
  display: none;
}
.dropdownMenu__button {
  background-color: $dropdownBG;
  color: $darkest-main;
  padding: 0 0 0 1vw;
  border: 1px solid black;
  width: 25vw;
  height: 7vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: clamp(1rem, 1.5vw, 3rem);
  font-weight: 500;
  cursor: pointer;
  transition: border-color 0.25s;
  &:hover {
    border-color: $dark-main;
  }
}
.dropdownMenu__main__button {
  border-radius: 8px 8px 0 0;
}
.button__startVisit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $accent;
  box-shadow: 2px 4px 4px -1px $darkest-main;
  border: 1px solid $darkest-main;
  border-radius: 0 0 8px 8px;
  padding: 0 0 0 1vw;
  width: 25vw;
  height: 7vh;
  font-size: clamp(1rem, 1.5vw, 3rem);
}
.linkToMuseum {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25vw;
  height: 7vh;
  font-size: clamp(1rem, 1.5vw, 3rem);
}
.button__startVisit a {
  color: inherit;
  text-decoration: inherit;
}
