$light-main: rgb(153, 204, 172);
$dark-main: #4f654e;
$darkest-main: #38342e;
$accent: #ffd353;
$white: #cbcbcb;

.dropdown__Container {
  margin: 0 auto;
  width: 30vw;
}
.iconContainer {
  height: 100%;
  width: 10%;
}
.iconContainer img {
  margin-left: 3vw;
  height: 100%;
  width: 80%;
}
.dropdownMenu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin: 10vh 0 0 0;
  box-shadow: 0px 0px 10px 20px $dark-main;
}
.dropdownMenu::-webkit-scrollbar {
  display: none;
}
.dropdownMenu__button {
  background-color: $dark-main;
  color: $darkest-main;
  padding: 0 0 0 0px;
  width: 100%;
  height: 7vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: clamp(13px, 2.1vw, 2.2rem);
  color: $accent;
  text-shadow: 2px 5px 1px $darkest-main;
  font-weight: 500;
  cursor: pointer;
  scrollbar-width: none;
}

.dropdownMenu__cityList,
.dropdownMenu__districtList {
  width: 100%;
  scrollbar-width: none;
}

.button__startVisit {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $accent;
  height: 7vh;
  font-size: clamp(1rem, 1.5vw, 3rem);
}
.linkToMuseum {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30vw;
  height: 7vh;
  font-size: clamp(1rem, 1.5vw, 3rem);
}
.button__startVisit a {
  color: inherit;
  text-decoration: inherit;
}
button {
  all: unset;
}

.dropdownMenu__dripping {
  margin-top: -1px;
  align-items: center;
  width: 100%;
}
.small {
  margin-left: 2vw;
  width: 15%;
}
