//IMPORT FONT-FAMILY OF THE APP
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:opsz,wght@8..60,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lemon&family=Sedgwick+Ave&display=swap");

@font-face {
  font-family: "blowBrush";
  src: url("BlowBrush.eot");
  src:
    url("../../fonts/BlowBrush.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/BlowBrush.woff2") format("woff2"),
    url("../../fonts/BlowBrush.woff") format("woff"),
    url("../../fonts/BlowBrush.ttf") format("truetype"),
    url("../../fonts/BlowBrush.svg#BlowBrush") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "attackG";
  src: url("../../fonts/aAttackGraffiti.eot");
  src:
    url("../../fonts/aAttackGraffiti.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/aAttackGraffiti.woff2") format("woff2"),
    url("../../fonts/aAttackGraffiti.woff") format("woff"),
    url("../../fonts/aAttackGraffiti.ttf") format("truetype"),
    url("../../fonts/aAttackGraffiti.svg#aAttackGraffiti") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

//FONT-FAMILY
$font-app-name: "Saira Stencil One", sans-serif;
$font-text: "Source Sans 3", sans-serif;
$font-title: "attackG";
// COLORS OF THE APP
$light-main: rgb(153, 204, 172);
$dark-main: #4f654e;
$darkest-main: rgb(56, 52, 46);
$accent: #ffd353;
$white: #cbcbcb;
//SHADOW OUTLINE
$outline:
  8px 0px 0px $darkest-main,
  -8px 0px 0px $dark-main,
  0px 8px 0px $darkest-main,
  0px -8px 0px $dark-main;

* {
  margin: 0;
  padding: 0;
}

.homepage {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-image: url("/src/assets/wall-3.jpg");
  background-position: top right;
  background-size: 100% 100%;
}

.homepage--button--container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.homepage--title {
  z-index: 100;
  color: $accent;
  font-size: clamp(1rem, 6vw, 8rem);
  font-family: $font-title;
  margin-top: 25vh;
  text-shadow: $outline;
}

.homepage--banner {
  position: absolute;
  left: 0;
  top: -20vh;
  z-index: 1;
  width: 100vw;
}
