//IMPORT FONT-FAMILY OF THE APP
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:opsz,wght@8..60,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap");
//FONT-FAMILY
$font-app-name: "Saira Stencil One", sans-serif;
$font-title: "Source Serif 4", serif;
$font-text: "Source Sans 3", sans-serif;

$light-main: rgb(153, 204, 172);
$dark-main: #4f654e;
$darkest-main: rgb(56, 52, 46);
$accent: #ffd353;
$white: #a4a1a0;

body {
  margin: 0;
  background-color: $accent;
  background-image: url("src/assets/vieux-lille_def.jpg");
  background-size: cover;
  overflow: hidden;
}

button {
  all: unset;
}
.museum {
  display: flex;
  height: 100%;
  width: 100%;
}
.museum__background {
  position: absolute;
  object-fit: contain;
  z-index: -1;
  height: 100%;
  width: 100%;
}
.museum__background img {
  height: 100%;
  width: 100%;
  border-bottom: 1px solid $dark-main;
}

.museum__walls {
  height: 80vh;
  justify-content: center;
  align-items: center;
  gap: 9%;
  display: flex;
  perspective: 500px;
  position: absolute;
  bottom: 2.5%;
  width: 100%;
}
.museum__wall {
  border: 0.7vh solid white;
  background-color: $white;
  align-items: center;
  padding-top: 3vh;
  padding-inline: 1vw;
  height: 83vh;
  width: 36vw;
  display: flex;
  flex-direction: column;
  background-image: url("src/assets/40.png");
  background-size: cover;
}

.museum__wall--left {
  text-align: center;
  transform: rotateY(25deg);
  position: relative;
  padding-left: 3vw;
  border-top-right-radius: 20px;
  align-items: center;
  & img {
    border: 4px ridge $accent;
  }
}

.museum__wall--right {
  text-align: center;
  transform: rotateY(-25deg);
  position: relative;
  padding-right: 3vw;
  border-top-left-radius: 20px;
  & img {
    border: 4px ridge $accent;
  }
}

.museum__caption {
  font-size: clamp(15px, 3vh, 2rem);
  margin-top: 0.5vh;
  margin-left: 1.5vw;
  padding: 0.8vh;
  max-width: 90%;
  color: $darkest-main;
  text-align: left;
  font-family: $font-text;
  // enlever caption
  text-align: center;
  background-color: transparent;
  background-image: none;
  border: 0 solid $accent;
}

.museum__caption--artist {
  font-size: clamp(20px, 5vh, 5rem);
}

.museum__img--button {
  all: unset;
  max-width: 80%;
  max-height: 80%;
}
.museum__wall img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0 0 8px $darkest-main;
  cursor: pointer;
  transition: 1s;
}

.museum__wall img:hover {
  transform: scale(1.05);
}

//ARROWS MUSEUM
.museum__popUpImg {
  z-index: 2;
  flex-direction: row;
  transform: rotateY(0);
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin-top: 0;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  & img {
    max-height: 85vh;
    margin-left: 20vw;
  }
  & .museum__caption {
    max-width: 20%;
    margin-top: 55vh;
    margin-right: 5vw;
  }
}

.museum__img--escapeMessage {
  font-weight: bold;
  position: absolute;
  bottom: 10%;
  right: 5%;
  font-size: clamp(12px, 2.5vh, 3rem);
}

.museum__navigationArrows {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: -6vh;
}
.fleche__haut,
.fleche__bas {
  width: 8vw;
}
.museum__navigationArrows--left {
  position: relative;
  bottom: -7vh;
}

.museum__navigationArrows--left,
.museum__navigationArrows--right {
  background-color: $accent;
  border: 0.6vh solid $darkest-main;
  border-radius: 50%;
  transform: rotateX(70deg) rotateY(1deg);
  padding-block: 0.5vw;
  transform-style: preserve-3d;
  box-shadow: 1px 3px 6px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 3px 6px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 3px 6px 0px rgba(0, 0, 0, 0.75);
}

.disabled {
  pointer-events: none;
  opacity: 0.3;
}

//PERSPECTIVE ANIMATION OF PICS

.museum__img--left--next {
  animation: slideInRight 1s ease 0s 1 normal forwards;
}
.museum__img--left--nextLeaving {
  animation: leavingLeft 1s ease 0s 1 normal forwards;
}

.museum__img--right--next {
  animation: slideInLeft 1s ease 0s 1 normal forwards;
}
.museum__img--right--nextLeaving {
  animation: leavingRight 1s ease 0s 1 normal forwards;
}

.museum__img--left--previous {
  animation: slideInLeft 1s ease 0s 1 normal forwards;
}
.museum__img--left--previousLeaving {
  animation: leavingRight 1s ease 0s 1 normal forwards;
}
.museum__img--right--previous {
  animation: slideInRight 1s ease 0s 1 normal forwards;
}
.museum__img--right--previousLeaving {
  animation: leavingLeft 1s ease 0s 1 normal forwards;
}
// KEYFRAMES FOR ANIMATION

// ENTRANCE LEFT PIC
@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
// ENTRANCE RIGHT PIC
@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
// EXIT LEFT PIC
@keyframes leavingLeft {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }

  100% {
    opacity: 0;
    transform: translateX(-250px);
  }
}
// EXIT RIGHT PIC
@keyframes leavingRight {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }

  100% {
    opacity: 0;
    transform: translateX(250px);
  }
}
