$light-main: rgb(153, 204, 172);
$dark-main: rgb(115, 125, 98);
$darkest-main: rgb(56, 52, 46);
$accent: rgb(242, 148, 138);
$white: rgb(255, 239, 217);

body {
  margin: 0;
  background-color: $accent;
  background-image: url(src/assets/gravel.png);
  overflow: hidden;
}

.museum {
  display: flex;
  height: 100%;
  width: 100%;
}
.museum__background {
  position: absolute;
  object-fit: contain;
  z-index: -1;
  height: 100%;
  width: 100%;
}
.museum__background img {
  height: 90%;
  width: 100%;
  border-bottom: 1px solid $dark-main;
}

.museum__walls {
  justify-content: center;
  align-items: center;
  gap: 10%;
  display: flex;
  perspective: 500px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.museum__wall {
  background-color: $white;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  border: 1px solid $white;
  align-items: center;
  padding: 2rem;
  height: 80vh;
  width: 33vw;
  display: flex;
  flex-direction: column;
  background-image: url(src/assets/seamless_wall_texture_by_hhh316_d4gbwzc-pre.png);
}
.museum__wall--left {
  transform: rotateY(30deg);
  position: relative;
  box-shadow: inset -10px 10px 15px -6px rgba(175, 175, 175, 0.723);
  & img {
    border: 8px ridge $dark-main;
  }
}

.museum__wall--right {
  transform: rotateY(-30deg);
  position: relative;
  box-shadow: inset 10px 10px 15px -6px rgba(175, 175, 175, 0.723);
  & img {
    border: 8px ridge $dark-main;
  }
}
.museum__wall p {
  font-size: 3vh;
  margin-inline: 10%;
  margin-top: 0.5rem;
  padding: 0.5rem;
  background-color: rgb(255, 247, 236);
  color: $darkest-main;
  border: 1px solid $dark-main;
  box-shadow: 0 0 3px $dark-main;
}

.museum__wall img {
  object-fit: contain;
  max-width: 85%;
  max-height: 85%;
  box-shadow: 0 0 5px grey;
  box-shadow:
    $white 0px 0px 0px 1px,
    0 0 8px grey;
  margin-top: 1rem;
}

.museum__navigationArrows {
  position: absolute;
}
