@media only screen and (orientation: portrait) {
  .landscape {
    display: none;
  }
}
@media only screen and (orientation: landscape) {
  .warning-msg {
    display: none;
  }
}
@font-face {
  font-family: "donGraffiti";
  src:
    local("DonGraffiti"),
    url("./fonts/DonGraffiti.otf") format("opentype");
}
