@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:opsz,wght@8..60,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap");

$font-app-name: "Saira Stencil One", sans-serif;
$font-title: "Source Serif 4", serif;
$font-text: "Source Sans 3", sans-serif;

$light-main: rgb(153, 204, 172);
$dark-main: rgb(115, 125, 98);
$darkest-main: rgb(56, 52, 46);
$accent: rgba(242, 148, 138, 0.864);
$white: rgb(255, 239, 217);

.logo-app {
  /*   margin: 3vh; */
  width: 15vw;
}

.box__description {
  z-index: 100;
  /*  padding-block: 4vh;
  padding-inline: 2vw; */
  /* overflow: scroll; */
  /*   border-color: $darkest-main;
  border-style: double; */
  color: $darkest-main;
  font-family: $font-text;
  margin: 1vw;
  /*   margin-top: 1vh; */
  /*   background-color: $accent; */
  display: flex;
  align-items: center;
  flex-direction: column;

  /*   font-size: clamp(1rem, 2.5vw, 1.3rem); */
  /*   cursor: pointer; */
  /*   border-radius: 30px;
  box-shadow: -8px 5px 5px 0px rgba(56, 52, 46, 0.8);
  -webkit-box-shadow: -8px 5px 5px 0px rgba(56, 52, 46, 0.8);
  -moz-box-shadow: -8px 5px 5px 0px rgba(56, 52, 46, 0.8); */
}
.article {
  z-index: 100;
  padding-block: 4vh;
  padding-inline: 2vw;
  /* overflow: scroll; */
  border-color: $darkest-main;
  border-style: double;
  color: $darkest-main;
  font-family: $font-text;
  margin: 1.4vw;
  margin-top: 12vh;
  background-color: $accent;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 35ch;
  font-size: clamp(1rem, 2.5vw, 1.3rem);
  cursor: pointer;
  border-radius: 30px;
  box-shadow: -8px 5px 5px 0px rgba(56, 52, 46, 0.8);
  -webkit-box-shadow: -8px 5px 5px 0px rgba(56, 52, 46, 0.8);
  -moz-box-shadow: -8px 5px 5px 0px rgba(56, 52, 46, 0.8);
}
.box__description::-webkit-scrollbar {
  display: none;
}

.title__description {
  font-family: $font-title;
  color: $darkest-main;
  margin: 3vh;
}
